.level{
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.item{
	margin:10px .5% 10px .5%;
	font-size: 1.5em;
	flex-basis: 14%;
	text-align: center;
	border-bottom: medium solid rgba(255,255,255,0);
}

.childLevelIcon{
	width: 70%;
	height: 70%;
	margin-top: 8px;
}

.textLabel{
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	font-size: 1em;
}


@media screen and (max-width:990px) {
  .level { flex-wrap: wrap;  }
  .item  { flex-basis: 20%; }
}

@media screen and (max-width:800px) {
  .level { flex-wrap: wrap;  }
  .item  { flex-basis: 30%; }
}

@media screen and (max-width:700px) {
  .level { flex-wrap: wrap;  }
  .item  { flex-basis: 40%; }
}

@media screen and (max-width:600px) {
  .level { flex-wrap: wrap;  }
  .item  { flex-basis: 50%; }
}

a:focus, a:hover {
    color: #FFF !important;
    text-decoration: underline;
}