/**
  General Stylings
**/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700');



/*Set Border Box and Font
  Border Box means elements should have padding and border included in the element's total width and height
*/

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

html {
    min-height: 100%;
}



/*When Links are hovered over, give that funny pointer*/

a.fa {
    margin: 5px;
    color: #FFF;
}

a {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    opacity: 1;
    color: #FFF;
}




/*Header Styles*/

.jumbotron>.fa {
    margin: 5px;
    padding: 20px;
    font-size: 1.5em;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    color: #36665a;
}

nav {
    background-color: #36665a;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.nav {
    margin: 25px;
    float: right;
    font-size: 20px;
}

.half-height {
    height: 100%;
    min-height: 100%;
}

.header_img{
    position: relative;
    opacity: .7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*fixed = parallax , scroll = normal*/
    background-attachment: fixed;
    background-image: url('./taylor_swift.jpg');
    min-height: 100%;
    margin-bottom: 50px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

}

.ptext{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}


/*.nav p {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
   
    color: white;
}*/
.no-top-bottom-padding {
    padding-bottom: 0px;
    padding-top: 0px;
}


/*Give a Margin so the musicplayer has space*/

body {
    color: #000;
    margin-bottom: 40px;
    background: #ebfaf6;
}



/**
  Bootstrap Overrides
 */

.jumbotron {
    background: transparent;
    margin-bottom: 0px;
}

.jumbotron h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    /*color: #fff;*/
}

.jumbotron p {
    /*color: #fff;*/
    opacity: 0.8;
}

.container-fluid {
    padding: 0;
}


/** Navbar
**/

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: rgba(54, 102, 90, .64);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


/**
  Top Banner Stylings
**/

.welcome {
    font-size: 2.3em;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 185px;
    padding-left: 50px;
}

.welcome>h1{
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.offset-navbar {
    padding-top: 120px;
}


.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.navbar-margin-bottom {
    margin-bottom: 20px;
}


/*https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
*/

.vertical-center {
    display: flex;
    align-items: center;
}


.lineAnchor:hover {
    color: #FFF;
}


::selection {
    background: #574AE2;
    color: white;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #574AE2;
}