/**
  General Stylings
**/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700');


/*Set Border Box and Font
  Border Box means elements should have padding and border included in the element's total width and height
*/

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

html {
    min-height: 100%;
}


/*When Links are hovered over, give that funny pointer*/
a {
    color: #fff;
    opacity: 0.8;
    text-transform: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    opacity: 1;
    color: #FFF;
}



/*Header Styles*/




.jumbotron >.fa {
    margin: 5px;
    padding: 20px;
    font-size: 1.5em;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    color: white;
}

nav {
    background-color: #8332AC;
    padding-left: 20px;
    padding-right: 10px;
}

.nav {
    margin: 25px;
    float: right;
    font-size: 20px;
}

/*.nav p {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
   
    color: white;
}*/


/*Give a Margin so the musicplayer has space*/

body {
    color: #654597;
    margin-bottom: 40px;
    /*background: #654597;*/
    background: linear-gradient(135deg, #E2ADF2 0%, #B760E6 100%);
}


/**
  Bootstrap Overrides
 */


.jumbotron {
    background: transparent;
    margin-bottom: 0px;
}

.jumbotron h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    /*color: #fff;*/
}

.jumbotron p {
    /*color: #fff;*/
    opacity: 0.8;
}

.container-fluid {
     padding:0;
}


/**
  Top Banner Stylings
**/

.welcome {
    font-size: 2em;
}



.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.navbar-margin-bottom{
    margin-bottom: 20px;
}

/*https://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
*/

.vertical-center {
    display: flex;
    align-items: center;
}


.lineAnchor:hover {
    color: #FFF;
}


::selection { 
    background: #574AE2; 
    color: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #574AE2;
}


