* {
  box-sizing: border-box;
  font-family: Consolas,monaco,monospace;

}

#title{
  text-align: center;
  width: 65%;
  margin:0 auto;
}



body{
  margin-bottom:40px;
}

.gradient {
  background: #283048; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left right, #283048 , #859398); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left right, #283048 , #859398); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left right, #283048 , #859398); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #283048 , #859398); /* Standard syntax */
}

#lyricsContainer{
  font-size: 19px;
  visibility: hidden;
  text-align: center;
  color: #FFF;
}

#lyricsBody{
  margin-top: 50px;
  text-align: left;
  display: inline-block;
}

#resultsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.lineIndex{
  font-size: 30px;
  color: #f92672;
}

ul{
  margin-left:10px;
  margin-right:10px;
}
.displayLanguages{
  font-weight: bold;
  float: left;
}
.playbackOptions{
  font-weight: bold;
  float: right;
  text-align: right;
}
.playbackOptions>div , .displayLanguages>div{
  font-weight: normal;
}



#songSearchInput{
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 7px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
}


#resultsList li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#resultsList li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#resultsList li a:hover:not(.header) {
  background-color: #eee;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #f5f5f5;
}

#audioPlayer {
    width: 100%;
}
