* {
  box-sizing: border-box;
}

#lyricsContainer{
  font-size: 16px;
}

#resultsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

ul{
  margin-left:10px;
  margin-right:10px;
}

#title{
  text-align: center;
  width: 65%;
  margin:0 auto;
}

#lyricsContainer{
  text-align: center;
}

#lyricsBody{
  text-align: left;
  display: inline-block;
}

#songSearchInput{
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 7px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}


#resultsList li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#resultsList li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#resultsList li a:hover:not(.header) {
  background-color: #eee;
}

body{
	font-family: Consolas,monaco,monospace;
  margin-bottom:40px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #f5f5f5;
}



#audioPlayer {
    width: 100%;
}
