# Node JS Modules
node_modules/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
.elasticbeanstalk/app_versions/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Server Output 
uploads/*
zip/