/**
  General Stylings
**/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700');

/*Set Border Box and Font
  Border Box means elements should have padding and border included in the element's total width and height
*/

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

html {
    min-height: 100%;
}

/*When Links are hovered over, give that funny pointer*/  

a {
    cursor: pointer;
}

/*Header Styles*/
.header img {
    width: 50px;
    height: auto;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}

.fa {
    margin: 5px;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: white;
    color: white;
}

.nav {
    margin-top: 35px;
    margin-right: 25px;
    float: right;
}

.nav p {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

/*Give a Margin so the musicplayer has space*/

body {
    color: #fff;
    margin-bottom: 40px;
    background: #667eea;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/**
  Bootstrap Overrides
 */
h1, a {
    color: #fff;
}

a {
    color: #fff;
    opacity: 0.6;
    text-transform: none;
}

a:hover {
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

.jumbotron {
    background: transparent;
}

.jumbotron h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    color: #fff;
}

.jumbotron p {
    color: #fff;
    opacity: 0.8;
}

.form-control {
    height: 50px;
}

.list-group li {
    overflow: hidden;
    margin-bottom: -1px;
}



/**
  Top Banner Stylings
**/
.welcome {
    font-size: 2em;
}

/**
  Search Bar Stylings
**/
.searchDiv {
    display: block;
    height: 40px;
    width: 75%;
    margin: 0 auto;
}

#songSearchInput {
    box-sizing: border-box;
    font-size: 1.3em;
    background: white url('searchicon.png') no-repeat 15px center;
    padding: 10px 20px 8px 50px;
    box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.25);
    border: none;
}

.allSongsDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding: 25px 0;
}

.allSongsDiv a {
    font-family: Montserrat, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
}

/**
  Results List Stylings
**/
#resultsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    font-size: 2em;
}



#resultsList li a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block
}
