.form-control {
	height: 50px;
}

.list-group li {
	overflow: hidden;
	margin-bottom: -1px;
}



/**
  Search Bar Stylings
**/

.searchDiv {
	margin: 0 auto;
	width: 65%;
}


/* webkit solution */

::-webkit-input-placeholder {
	text-align: left;
}


/* mozilla solution */

input:-moz-placeholder {
	text-align: left;
}

#songSearchInput {
    box-sizing: border-box;
    font-size: 1.3em;
    background: white url('searchicon.png') no-repeat 15px center;
    padding: 10px 20px 8px 50px;
    box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.25);
    border: none;
    color: #574AE2;
}

.allSongsDiv {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.4em;
	padding: 25px 0;
}

.allSongsDiv a {
	font-family: Montserrat, sans-serif;
	color: #333A68;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
}


/**
  Results List Stylings
**/

#resultsList {
	list-style-type: none;
	padding: 0;
	font-size: 1.8em;
	font-weight: bold;
}

.list-group-item{
	background-color: rgba(0, 0, 0, 0.1);
}
.anchors {
	color: #222A68;
	letter-spacing: 3px;
}
.anchors:hover{
	color: #000;
}

.instrumental{
	font-size: .7em;
	color: #5a0404;
	float:right;
	text-align: center;
}