
.form-control {
    height: 50px;
}

.list-group li {
    overflow: hidden;
    margin-bottom: -1px;
}


/**
  Search Bar Stylings
**/
.searchDiv {
    display: block;
    height: 40px;
    width: 75%;
    margin: 0 auto;
}

#songSearchInput {
    box-sizing: border-box;
    font-size: 1.3em;
    background: white url('searchicon.png') no-repeat 15px center;
    padding: 10px 20px 8px 50px;
    box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.25);
    border: none;
    color: #574AE2;
}

.allSongsDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding: 25px 0;
}

.allSongsDiv a {
    font-family: Montserrat, sans-serif;
    color: #333A68;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
}

/**
  Results List Stylings
**/
#resultsList {
    list-style-type: none;
    padding: 0;
    display: none;
    font-size: 2em;
    font-weight: bold;
}

#resultsList li a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #222A68;
    display: block;
    letter-spacing: 4px;
}
