.form-control {
    height: 50px;
}

.list-group li {
    overflow: hidden;
    margin-bottom: -1px;
}

.list-group li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item.button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 !important;
    border: none;
    color: #fff;
    cursor: pointer;
}

.list-group-item.button:hover,
.list-group-item.button:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.45);
}


/**
  Search Bar Stylings
**/

.searchDiv {
    display: block;
    height: 40px;
    width: 75%;
    margin: 0 auto;
}

#songSearchInput {
    box-sizing: border-box;
    font-size: 1.3em;
    background: white url('searchicon.png') no-repeat 15px center;
    padding: 10px 20px 8px 50px;
    box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.25);
    border: none;
}

.allSongsDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
    padding: 25px 0;
}

.allSongsDiv a {
    font-family: Montserrat, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
}



/**
  Options Stylings
**/

#options {
    margin-top: 10px;
    border-style: inset;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

input[type=checkbox]{
    margin: 0 5px;
}


.displayLanguages {
    font-weight: bold;
}

.playbackOptions {
    font-weight: bold;
    text-align: right;
}

.playbackOptions>div,
.displayLanguages>div {
    font-weight: normal;
}


/**
  Lyric Display Stylings
**/

#titleLine {
    margin-top: 15px;
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 3.5em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
}




#lyricsBody {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 6px;
    visibility: hidden;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 40px;
    font-family: Consolas, monaco, monospace;
}

@media (max-width: 767px) {
    #lyricsBody {
        font-size: 1em;
        padding-left: 15px;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    #lyricsBody {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    #lyricsBody {
        font-size: 1.5em;
    }
}

@media (min-width: 1200px) {
    #lyricsBody {
        font-size: 1.7em;
    }
}


table {
    display: block;
    border-spacing: 4px;
    table-layout: auto;
    border-collapse: separate;
}
table td {
    display: inline-block;
}
table tr {
    text-align: center;
}

}
.pronounciationLine {
    /*font-style: italic;*/
}
.primaryLine {
    /*letter-spacing: 10px;*/
    font-size: 1.3em;
}

.translatedLine {
    font-style: italic;
    /*margin-left: 4px;*/
}


/*.tableOverflow{
    overflow-x:auto;
}*/

/**
  Line Number Stylings
**/

.lineIndex {
      /*border-left: 6px solid red */
    border-right: 3px solid rgba(255, 255, 255, 0.15);
    font-size: 1.5em;
}

@media (max-width: 767px) {
    .lineIndex {
        font-size: 1em;
        border-right-width: 3px;
        padding-right: 24px;
    }
}


.tooltip-inner {
    background-color: #574AE2 !important;
    color: #FFF !important;
}
/* https://stackoverflow.com/questions/44955201/bootstrap-4-change-tooltip-arrow-color */ 

.tooltip.bs-tooltip-bottom .tooltip-inner {
    background:#574AE2 !important;
}

.tooltip .arrow:before {
 border-bottom-color:#574AE2 !important;
 border-top-color:#574AE2 !important;
 }


/**
Visualizer Canvas
**/

.canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
}


/** Pause Play SVG Animations
**/

#circle {
    transition: stroke-dashoffset 300ms ease-in;
    stroke-dashoffset: 0;
    fill: none;
}

#circle.play {
    stroke-dashoffset: 314;
}

/** Scroll Up Button
**/
.scrollup {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: .3;
    position: fixed;
    bottom: 25px;
    right: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}

.scrollup:hover {
    background: #07ff0e;
    opacity: 1;
}

/**
  Footer and Audio Player Stylings
**/


/*Display block because inline will tak eup the whole line
need to define with of 90% so the margin knows how much to cut*/

.audioContainer {
    display: block;
    margin: 0 auto;
    width: 95%;
    /* height: 300px; */
}


/*Fixed audio player at the bottom, taking up 90 of the screen*/

#audioPlayer {
    position: fixed;
    bottom: 0;
    width: 90%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #f5f5f5;
}

#instrumentalAudioPlayer {
    position: fixed;
    bottom: 35px;
    width: 90%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: #f5f5f5;
}


/*When User hits Play Pause*/

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 5;
    /*show in the front*/
}

@-webkit-keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0; }
}

.transition{
    -webkit-animation: fadein 2s ease 1 normal forwards;

}