
.help-block{
    color:#ff7a7a;
}
label{
    color: #ffffff;
}

.form-group-lg .form-control { font-size:.8em; }

.form-control {
    height: 50px;
}

.list-group li {
    overflow: hidden;
    margin-bottom: -1px;
}

.list-group li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item.button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 !important;
    border: none;
    color: #fff;
    cursor: pointer;
}

.list-group-item.button:hover,
.list-group-item.button:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.45);
}

/**
  Lyric Display Stylings
**/

.gradient {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}