.dotted-border {
	border-style: dotted;
	border-color: #8332AC;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.7);
}
.currentLine{
	font-weight: 700;
    text-decoration: underline;

}
#description {
	padding-right:40px;
	padding-left: 40px;
}

.keys {
	font-weight: bold;
}


.btn {
	cursor: pointer;
	opacity: 0.9;

}

.btn:hover {
	background-color: #8332AC;
	opacity: 1;
	color: white;
}

input[type="file"] {
    width: 60%;
}


/*// #prettyPrint{
// 	margin-top: 20px;
// }

// #prettyPrint .btn{
// 	background-color: #8332AC;
// 	color: white;
// 	margin-top: 3%;
// }

// #prettyPrint .btn:hover{
// 	background-color: white;
// 	color: #8332AC;
// }*/

.timestampInput{
	width:100%;
}

.audioContainer{
	margin: 10px auto;
}

audio {
	width: 100%;
}



/*When User hits Play Pause*/

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 5;
    /*show in the front*/
}

@-webkit-keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0; }
}

.transition{
    -webkit-animation: fadein 2s ease 1 normal forwards;

}